:root {
  --bg-black: #0a0a0a;
  --bg-white: #f6f6f6;
  --text-white: #f5f5f5;
  --text-gray: rgba(255, 255, 255, 0.7);
  --blue: #1e90ff;
  --light-blue: #97c4ff;
  --orange: #ff5722;
  --orange-50: #ff562280;
  --border-color: #535353;
  --section-title-dark: #302f2f;
  --section-description-dark: #303236;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  font-family: "Roboto Mono", monospace;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  width: fit-content;
  font-family: "Roboto Mono", monospace;
}

address {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  color: var(--text-gray);
}

ul {
  list-style: none;
}
body {
  background-color: var(--bg-black);
  color: var(--text-white);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 10vw;
  font-size: 0.95rem;
  z-index: 1000;
}

.navbar-scroll {
  background-color: rgba(10, 10, 10, 0.3);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color);
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
nav .logo {
  width: 50px;
  aspect-ratio: 1/1;
}

nav ul {
  display: flex;
  gap: 2rem;
  letter-spacing: 1px;
}

nav ul li {
  opacity: 0.7;
}

nav ul li:hover {
  opacity: 1;
}

.primaryBtn {
  width: fit-content;
  border: 0.1px solid var(--border-color);
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  letter-spacing: 1px;
}
.primaryBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.secondaryBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 9999px;
  padding: 0.7rem 2.5rem;
  white-space: nowrap;
  background-color: var(--text-white);
  color: var(--bg-black);
}

.secondaryBtn img,
.secondaryBtn span {
  z-index: 2;
}

.secondaryBtn::before,
.secondaryBtn::after {
  border-radius: 9999px;
  --angle: 0deg;
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: conic-gradient(
    from var(--angle),
    transparent 0%,
    var(--blue) 50%,
    var(--orange) 100%
  );
  animation: glowing-border 4s linear infinite;
}

.secondaryBtn::before {
  filter: blur(10px);
  z-index: -2;
  opacity: 0.7;
}

.secondaryBtn:hover::before {
  animation: glowing-border 0.2s linear infinite;
}
.secondaryBtn:hover::after {
  animation: glowing-border 0.2s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes glowing-border {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.section-title-dark {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--section-title-dark);
  margin-bottom: 1rem;
}

.section-header-dark {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1rem;
}

.section-description-dark {
  font-size: 1rem;
  color: var(--section-description-dark);
  font-weight: 300;
  margin-bottom: 3rem;
  max-width: 100ch;
}

.section-title-light {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: var(--text-gray);
  margin-bottom: 1rem;
}

.section-header-light {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 1rem;
}

.section-description-light {
  font-size: 1rem;
  color: var(--text-gray);
  font-weight: 300;
  margin-bottom: 3rem;
  max-width: 100ch;
}

#testimonials {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 200px 10vw;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1px;
}

.testimonial-card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  outline: 1px solid var(--border-color);
}

footer {
  position: relative;
  padding: 200px 10vw 30px;
  color: var(--text-white);
  display: flex;
  flex-direction: column;
  gap: 10rem;
  border-top: 1px solid var(--border-color);
}
.footer-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 50%;
  background: linear-gradient(
    to right,
    rgba(255, 87, 34, 0.1) 0%,
    rgba(255, 87, 34, 0.1) 25%,
    rgba(30, 144, 255, 0.1) 75%,
    rgba(30, 144, 255, 0.1) 100%
  );
  mask: radial-gradient(at center top, black, transparent 70%);
  pointer-events: none;
}
#footer-particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.footer-container-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-container img {
  width: 90px;
  aspect-ratio: 1/1;
}
.logo-name {
  font-size: 1.7rem;
  font-weight: 800;
}
.logo-desc {
  letter-spacing: 5px;
  font-size: 1.5rem;
  color: var(--text-gray);
  font-weight: 400;
  max-width: 50ch;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-col-subcol-container {
  display: flex;
  gap: 3rem;
}
.footer-col-subcol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-col h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: var(--text-gray);
}
.footer-col p {
  max-width: 40ch;
  color: var(--text-gray);
}

.footer-col a:hover:not(.primaryBtn),
.terms a:hover {
  text-decoration: underline;
}

.footer-container-bottom {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.terms {
  display: inline-flex;
  gap: 1rem;
}
#copyright:hover a {
  color: var(--bg-white);
  transition: all 0.3s ease-in-out;
}

#copyright {
  color: var(--text-gray);
}
